<script src="/plugins/pace/pace.min.js"></script>
<link href="/plugins/pace/themes/pink/pace-theme-flash.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/layui/css/layui.css" media="all"/>
<link href="/plugins/fontawesome/css/font-awesome.css" rel="stylesheet">
<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<link href="/plugins/contextMenu/jquery.contextMenu.min.css" rel="stylesheet">
<script src="/plugins/contextMenu/jquery.contextMenu.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/fs.css?v=1.8.2" media="all"/>
<script type="text/javascript" src="/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/plugins/frame/js/fsDict.js?v=1.8.2"></script>
<script type="text/javascript" src="/plugins/frame/js/fs.js?v=1.8.2"></script>
<script type="text/javascript" src="/plugins/frame/js/main.js?v=1.8.2"></script>